body {
    font-family: Arial, sans-serif;
    background-color: #d6e5fa;
    margin: 0 px;
    padding:0 px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: #d6e5fa;
    text-align: center;
    padding: 20px;
  }
  
  .grid-item.large {
    grid-column: span 2;
  }
  
  .grid-item img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .grid-item p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .pink {
    background-color: #d6e5fa;
  }
  
  .yellow {
    background-color: #d6e5fa;
  }
  