body {
    font-family: Arial, sans-serif;
    background-color: #d6e5fa;
    margin: 0 px;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #d6e5fa;
    text-align: center;
  }
  
  .grid-item.large {
    grid-column: span 2;
  }
  
  .grid-item img {
    max-width: 100%;
  }
  
  .grid-item p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .pink {
    background-color: #d6e5fa;
  }
  
  .yellow {
    background-color: #d6e5fa;
  }
