body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0 px;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: blanchedalmond;
  }
  
  .grid-item.large {
    grid-column: span 2;
  }
  
  .grid-item img {
    max-width: 100%;
  }
  
  .grid-item p {
    margin-top: 10px;
  }
